body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 150px;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 15px;
}

nav a:hover {
    color: #007BFF;
}

.account-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 10px;
}

.account-btn:hover {
    background-color: #0056B3;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    margin: 40px auto;
}

h2 {
    margin-top: 0;
}

label {
    margin-top: 10px;
    display: block;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056B3;
}

.register-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007BFF;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.back-to-login {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007BFF;
    text-decoration: none;
}

.back-to-login:hover {
    text-decoration: underline;
}

.course-navigation {
    display: none; /* Hides the course navigation */
}
